AutomationCoESatellite/SolutionPackage/CanvasApps/src/autocoe_automationsolutionviewer_0c4ec/pkgs/Wadl/GetDataverseSolutionArtifacts.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="GetDataverseSolutionArtifacts" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Get Dataverse Solution Artifacts" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_Modified_ux20_on_def" />
      <string name="ResponseActionOutput_items_def_Created_ux20_on_def" />
      <boolean name="ResponseActionOutput_items_def_Is_ux20_customizable_def" />
      <boolean name="ResponseActionOutput_items_def_Is_ux20_managed_def" />
      <string name="ResponseActionOutput_items_def_Solution_ux20_id_def" />
      <string name="ResponseActionOutput_items_def_Name_def" />
      <string name="ResponseActionOutput_items_def_Display_ux20_name_def" />
      <integer name="ResponseActionOutput_items_def_Object_ux20_type_ux20_code_def" />
      <string name="ResponseActionOutput_items_def_Object_ux20_id_def" />
      <string name="ResponseActionOutput_items_def_Component_ux20_type_def" />
      <string name="ResponseActionOutput_items_def_Component_ux20_type_ux20_name_def" />
      <string name="ResponseActionOutput_items_def_Component_ux20_logical_ux20_name_def" />
      <string name="ResponseActionOutput_items_def_Primary_ux20_id_ux20_attribute_def" />
      <integer name="ResponseActionOutput_items_def_Total_ux20_count_ux20_of_ux20_component_ux20_type_def" />
      <string name="ResponseActionOutput_items_def_Owner_def" />
      <string name="ResponseActionOutput_items_def_Connector_ux20_internal_ux20_id_def" />
      <string name="ResponseActionOutput_items_def_Workflow_ux20_category_ux20_name_def" />
      <string name="ResponseActionOutput_items_def_Sub_ux20_type_def" />
      <integer name="ResponseActionOutput_items_def_Workflow_ux20_category_def" />
      <string name="ResponseActionOutput_items_def_Workflow_ux20_unique_ux20_id_def" />
      <string name="ResponseActionOutput_items_def_Description_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="Modified on" type="string" />
        <property name="Created on" type="string" />
        <property name="Is customizable" type="boolean" />
        <property name="Is managed" type="boolean" />
        <property name="Solution id" type="string" />
        <property name="Name" type="string" />
        <property name="Display name" type="string" />
        <property name="Object type code" type="integer" />
        <property name="Object id" type="string" />
        <property name="Component type" type="string" />
        <property name="Component type name" type="string" />
        <property name="Component logical name" type="string" />
        <property name="Primary id attribute" type="string" />
        <property name="Total count of component type" type="integer" />
        <property name="Owner" type="string" />
        <property name="Connector internal id" type="string" />
        <property name="Workflow category name" type="string" />
        <property name="Sub type" type="string" />
        <property name="Workflow category" type="integer" />
        <property name="Workflow unique id" type="string" />
        <property name="Description" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="Solution Id" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="Environment URL" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>